extends layout

block content
  div.column
    h1= title
    p Death is inevitable. The only question is; 
      strong what will you leave behind?
    p A unique Vanilla WoW experience, featuring perma-death and an account wide progression system.
  div.column
    form(action="createaccount", id="createaccount", method="post")
      h4 Create Account
      label(for="username") Username
      input#username(type="text", placeholder="username", name="username")
      label(for="password") Password
      input#password(type="password", placeholder="password", name="password")
      label(for="confirm") Confirm Password
      input#confirm(type="password", placeholder="confirm password", name="confirm")
      button Submit
      if(accountmessage)
        strong= accountmessage
  #leaderboard
    h4 Character Leaderboard
    table
      tr
        th Level
        th Name
        th Class
        th Status
        th Time Taken
      each val,index in levelLeaderboard
        if index < 10
          tr
            td= val.level
            td= val.name
            td= val.race + " " + val.class
            td= val.status
            td= val.time
    if levelLeaderboard.length > 10
      a(href="/leaderboard", target="_blank") Full Leaderboard
  div#server-notes
    h4 Server Information
    p Based on the latest 
      a(href="https://cmangos.net/") CMaNGOS
      |  code
    p Uses WoW client 1.12.1
    p In realmlist.wtf use 
      strong set realmlist willandtestament.gti.nz
    p Delete WDB folder if it exists before playing or item changes may not be reflected in the client
    strong Rates
    ul
      li 4x XP
      li 5x gold
      li 3x health and mana regen while sitting
      li 2x flight path speed
      li 10x reputation
      li 10x profession skill
      li 1 additional profession slot per character (recommended to take enchanting)
      li 10 minute hearthstone cooldown
      li Talent respec cost capped at 1g
    strong Progression System
    ul
      li When you earn xp on any of your characters you also earn paragon xp on your account
      li Each paragon level grants the following benefits to all characters on your account
        ul
          li +1 to all attributes
          li +1 additional talent point (usable at level 10 or higher)
          li +10% xp gain (up to a maximum of 100%)
          li +2 spell damage and healing
      li Use chat command 
        strong .paragon 
        span to check your current paragon level, bonuses earned, and paragon xp
      li Targeting another player and using the command will show their current paragon level
    strong Gameplay Changes
    ul
      li Resurrections are disabled. Once a character dies it will remain a ghost forever
      li Health potions have infinite uses with a 2 minute cooldown
      li Gold earned is now account wide and will not be lost upon character death
      li Most weapons and armor are now also world drops with a generous drop rate
      li Class restrictions removed from all weapons and armor (eg Warlocks can now use Mage tier sets)
      li New characters start with a mount
      li Mount level requirement and riding skill requirement removed
      li Mount speed increased to 100% for rare and 130% for epic mounts
      li 100% mana regen while casting
      li Bigger bag sizes
      li Bigger stacks of items
      li Paladin blessings and warrior battle shout now last 30 mins
      li XP gain on profession skill up
      li Druids can now proc weapons and weapon enchants (eg crusader) in feral forms
      li Soulshards are now stackable
      li Enchanting vendors sell all rod types


