extends layout

block content
  style
    include leaderboardstyle.css
  #leaderboard
    h4 Character Leaderboard
    a#all-filter.selected All
    a#warrior-filter Warrior
    a#paladin-filter Paladin
    a#hunter-filter Hunter
    a#rogue-filter Rogue
    a#priest-filter Priest
    a#shaman-filter Shaman
    a#mage-filter Mage
    a#warlock-filter Warlock
    a#druid-filter Druid
    a#dead-filter Hide Dead Characters
    hr
    table
      thead
        tr
          th Level
          th Name
          th Class
          th Status
          th Time Taken
      tbody
        each val,index in levelLeaderboard
          if index < 100
            tr(class=val.class.toLowerCase() + ' ' + val.status.toLowerCase())
              td= val.level
              td= val.name
                if(val.online)
                  span.online(title='online')
              td= val.race + " " + val.class
              td(class=val.status.toLowerCase())= val.status
              td= val.time
  script
    include leaderboardfilter.js