extends layout

block content
  #leaderboard
    h4 Character Leaderboard
    table
      tr
        th Level
        th Name
        th Class
        th Status
        th Time Taken
      each val in levelLeaderboard
        tr
          td= val.level
          td= val.name
          td= val.race + " " + val.class
          td= val.status
          td= val.time